html {
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  html.block {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: $white;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  body.block {
    overflow: hidden;
  }
}
